/* Rest some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Poppins;
}

/* Style for the accordion */
.main-accordion {
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.sub-accordion {
    display: flex;
    flex-direction: column;
    background-color: #5dade2;
    color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 4px;
    padding: 5px;
}

.sub-sub-accordion {
    display: flex;
    flex-direction: column;
    background-color: #85c1e9;
    color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 4px;
    padding: 5px;
}

/* Style for the buttons that open the accordion */
.accordion-label {
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the content inside the accordion */
.accordion-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
}

/* Style for the links inside the content */
.accordion-content a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: #333;
}

/* Add hover effect on accordion labels */
.accordion-label:hover {
    background-color: #2980b9;
}

/* Add icon rotation on accordion open */
.accordion-label i {
    transition: transform 0.3s ease;
}

/* Rotate the icon when the accordion is open */
.active-accordion .accordion-label i {
    transform: rotate(180deg);
}

/* Add some style to the active accordion */
.active-accordion {
    display: block;
}

/*------------------------------------------------------------*/
/* styles.css */
.accordion {
    width: 300px;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-button {
    background-color: #f5f5f5;
    border: none;
    text-align: left;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: #e0e0e0;
}

/*.sub-accordion {
    display: none;
    padding-left: 10px;
}*/

.sub-item {
    margin-bottom: 5px;
}

.lesson-accordion {
    display: none;
    padding-left: 10px;
}

.lesson-item {
    margin-bottom: 5px;
}

.links {
    list-style-type: none;
    padding-left: 20px;
}

.links li {
    margin-bottom: 5px;
}
